node_modules/
.DS_Store

server.json
.venv/
CUserslionkAppDataLocalvscode-sqltoolsData.node-runtime
donotcommitthisfileitisasecretsessionwithcodex.txt
.vscode/extensions.json
.devcontainer/devcontainer.json
